<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>loginpage</servlet-name>
        <servlet-class>com.servlet.loginpage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>result</servlet-name>
        <servlet-class>com.servlet.result</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>debugging</servlet-name>
        <servlet-class>com.servlet.debugging</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowMarks</servlet-name>
        <servlet-class>com.servlet.ShowMarks</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>currencyconverter</servlet-name>
        <servlet-class>com.servlet.currencyconverter</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Cookieone</servlet-name>
        <servlet-class>com.cookie.session.Cookieone</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cookietwo</servlet-name>
        <servlet-class>com.cookie.session.cookietwo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logout</servlet-name>
        <servlet-class>com.cookie.session.logout</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>loginpage</servlet-name>
        <url-pattern>/loginpage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>result</servlet-name>
        <url-pattern>/result</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>debugging</servlet-name>
        <url-pattern>/debugging</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowMarks</servlet-name>
        <url-pattern>/ShowMarks</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>currencyconverter</servlet-name>
        <url-pattern>/currencyconverter</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Cookieone</servlet-name>
        <url-pattern>/Cookieone</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cookietwo</servlet-name>
        <url-pattern>/cookietwo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
